# IDE support files
/.classpath
/.launch
/.project
/.settings
/eclipse*
/target
/scripts/passwords.txt
settings.xml
src/test/resources/importacion.csv
src/test/resources/importacion10000.csv
src/test/resources/importacion*.csv
